.AdvertisementSection{
    width: 100%;
    height: 550px;
    background: #40BFFF;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.AdvertisementSectionWriting{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8% 0 0 5%;
}
.AdvertisementSectionWriting>:nth-child(1){
    font-size: 55px;
    line-height: 82px;
    color: #FFFFFF;
}
.AdvertisementSectionWriting>:nth-child(2){
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.AdvertisementSectionWritingButton{
    background-color: transparent;
    border: none;
    border-bottom: #FFFFFF 4px solid;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 5%;
    padding-bottom: 1%;
    transition: all 0.3s ease-in-out;
}
.AdvertisementSectionWritingButton:hover{
    transform: scale(1.1);
    color: #f4c6c6;
    border-bottom: #f4c6c6 4px solid;
}
.AdvertisementSection>figure{
    width: 50%;
    margin-top: -100px;
}
.AdvertisementSection>figure>img{
    width: 90%;
}
@media (max-width: 1300px) {
    .AdvertisementSection{
        height: 350px;
        padding: 1%;
    }
    .AdvertisementSectionWriting{
        width: 55%;
        padding: 5% 0 0 5%;
    }
    .AdvertisementSectionWriting>:nth-child(1){
        font-size: 40px;
        line-height: 60px;
    }
    .AdvertisementSection>figure{
        width: 45%;
    }
    .AdvertisementSectionWriting>:nth-child(2){
        font-size: 20px;
        line-height: 30px;
    }
    .AdvertisementSectionWritingButton{
        font-size: 13px;
        line-height: 30px;
    }  
}
@media (max-width: 950px) {
    .AdvertisementSection{
        height: 270px;
        padding: 1%;
    }
    .AdvertisementSectionWriting{
        padding: 3% 0 0 5%;
    }
    .AdvertisementSectionWriting>:nth-child(1){
        font-size: 35px;
        line-height: 45px;
    }
    .AdvertisementSectionWriting>:nth-child(2){
        font-size: 15px;
        line-height: 40px;
    }
    .AdvertisementSectionWritingButton{
        font-size: 15px;
        line-height: 30px;
    }  
}
@media (max-width: 800px){
    .AdvertisementSection{
        height: 300px;
        padding: 1%;
    }
    .AdvertisementSectionWriting{
        padding: 7% 0 0 5%;
    }
    .AdvertisementSectionWriting>:nth-child(1){
        font-size: 35px;
        line-height: 40px;
    }
    .AdvertisementSection>figure{
        margin-top: -5%;
    }
    .AdvertisementSectionWriting>:nth-child(2){
        font-size: 14px;
        line-height: 40px;
    }
    .AdvertisementSectionWritingButton{
        font-size: 15px;
        line-height: 20px;
    }  
}
@media (max-width: 700px) {
    .AdvertisementSection{
        height: 300px;
        padding: 1%;
    }
    .AdvertisementSectionWriting{
        padding: 5% 0 0 5%;
    }
    .AdvertisementSectionWriting>:nth-child(1){
        font-size: 35px;
        line-height: 40px;
    }
    .AdvertisementSectionWriting>:nth-child(2){
        font-size: 14px;
        line-height: 40px;
    }
    .AdvertisementSectionWritingButton{
        font-size: 15px;
        line-height: 20px;
    }  
}
@media (max-width: 630px) {
    .AdvertisementSection{
        height: 300px;
        padding: 1%;
    }
    .AdvertisementSectionWriting{
        padding: 5% 0 0 5%;
    }
    .AdvertisementSectionWriting{
        width: 50%;
    }
    .AdvertisementSection>figure{
        width: 50%;
    }
    .AdvertisementSectionWriting>:nth-child(1){
        font-size: 30px;
        line-height: 35px;
    }
    .AdvertisementSectionWriting>:nth-child(2){
        font-size: 13px;
        line-height: 20px;
        margin: 10% 0 5%;
    }
    .AdvertisementSectionWritingButton{
        font-size: 15px;
        line-height: 20px;
    }  
}
@media (max-width: 600px) {
    .AdvertisementSection{
        height: 300px;
        padding: 1%;
    }
    .AdvertisementSectionWriting{
        padding: 8% 0 0 5%;
    }
    .AdvertisementSectionWriting{
        width: 50%;
    }
    .AdvertisementSection>figure{
        width: 50%;
    }
    .AdvertisementSection>figure>img{
        width: 100%;
    }
    .AdvertisementSectionWriting>:nth-child(1){
        font-size: 28px;
        line-height: 35px;
    }
    .AdvertisementSectionWriting>:nth-child(2){
        font-size: 13px;
        line-height: 20px;
        margin: 10% 0 5%;
    }
    .AdvertisementSectionWritingButton{
        font-size: 15px;
        line-height: 20px;
    }  
}

@media (max-width: 570px) {
    .AdvertisementSection{
        height: 250px;
        padding: 1%;
    }
    .AdvertisementSectionWriting{
        padding: 5% 0 0 5%;
    }
    .AdvertisementSection>figure>img{
        width: 100%;
    }
    .AdvertisementSectionWriting>:nth-child(1){
        font-size: 25px;
        line-height: 30px;
    }
    .AdvertisementSectionWriting>:nth-child(2){
        font-size: 13px;
        line-height: 20px;
        margin: 10% 0 5%;
    }
    .AdvertisementSectionWritingButton{
        font-size: 13px;
        line-height: 20px;
        border-bottom: #FFFFFF 3px solid;
    }  
}
@media (max-width: 500px) {
    .AdvertisementSection{
        height: 320px;
        padding: 1%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }
    .AdvertisementSectionWriting{
        padding: 0 5% 0 8%;
        width: 100%;
        position: absolute;
        z-index: 2;
        bottom: 10%;
        overflow: hidden;
        left: 0;
    }
    .AdvertisementSectionWriting>:nth-child(1){
        font-size: 25px;
        line-height: 40px;
    }
    .AdvertisementSection>figure{
        width: 60%;
        margin-top: -7%;
    }
    .AdvertisementSectionWriting>:nth-child(2){
        font-size: 13px;
        line-height: 10px;
        margin: 2% 0 1%;
    }
    .AdvertisementSectionWritingButton{
        font-size: 13px;
        line-height: 10px;
    }  
}
@media (max-width: 400px) {
    .AdvertisementSection{
        height: 280px;
    }
    .AdvertisementSectionWriting>:nth-child(1){
        font-size: 22px;
        line-height: 25px;
    }
    .AdvertisementSection>figure{
        width: 60%;
        margin-top: -7%;
    }
    .AdvertisementSectionWriting>:nth-child(2){
        font-size: 12px;
        line-height: 10px;
        margin: 4% 0 3%;
    }
    .AdvertisementSectionWritingButton{
        font-size: 12px;
        line-height: 15px;
        border-bottom: #FFFFFF 2px solid;
    }  
}
@media (max-width: 361px) {
    .AdvertisementSection{
        height: 260px;
    }
    .AdvertisementSectionWriting>:nth-child(1){
        font-size: 20px;
        line-height: 25px;
    }
    .AdvertisementSectionWriting>:nth-child(2){
        font-size: 10px;
        line-height: 10px;
        margin: 4% 0 3%;
    }
    .AdvertisementSectionWritingButton{
        font-size: 10px;
        line-height: 15px;
        border-bottom: #FFFFFF 2px solid;
    } 
}
@media (max-width: 300px) {
    .AdvertisementSection{
        height: 240px;
    }
    .AdvertisementSectionWriting>:nth-child(1){
        font-size: 18px;
        line-height: 25px;
    }
    .AdvertisementSectionWriting>:nth-child(2){
        font-size: 10px;
        line-height: 10px;
        margin: 4% 0 3%;
    }
}