.Footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10% 10% 0;
    background: #BCDDFE;
}
.FooterSection1{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.FooterSection1 p {
    font-family: Proxima;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #22262A;
}
.FooterSection1Writing1{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.FooterSection1Writing1>figure{
    width: 70%;
    margin-bottom: 3%;
}
.FooterSection1Writing1>figure>img{
    width: 100%;
}
.FooterSection1Writing2{
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.FooterSection1Writing2>:nth-child(1){
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
    font-weight: 600;
    margin-bottom: 10%;
}
.FooterSocialMedia{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15%;
}
.FooterSocialMedia>figure{
    width: 30%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.FooterSocialMedia>figure:hover{
    transform: scale(1.4);
}
.FooterSection1Writing3{
    width: 10%;
    display: flex;
    flex-direction: column;
}
.FooterSection1Writing3>:nth-child(1){
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
    margin-bottom: 10%;
}

.FooterSection2{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5% 0;
    justify-content: space-between;
}
.FooterSection2>ul{
    list-style: none;
}
.FooterSection2>ul>li{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
    cursor: pointer;
    margin: 1% 0;
}
.FooterSection2>ul>:nth-child(1){
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
    margin-bottom: 10%;
}
.FooterSection3{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 4px solid #F6F7F8;
    padding: 3% 0;
}
.FooterSection3>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C1C8CE;
}
.FooterPaymentMethods{
    width: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.FooterPaymentMethods>figure{
    width: 22%;
    cursor: pointer;
}
.FooterPaymentMethods>figure>img{
    width: 100%;
}
@media (max-width: 950px) {
    .Footer{
        padding: 5% 10% 0;
    }
    .FooterSection1 p {
        font-size: 10px;
    }
    .FooterSection1>div{
        width: 30%;
    }
    .FooterSection1Writing1>figure{
        width: 40%;
    }
    .FooterSection1Writing2>:nth-child(1){
        font-size: 13px;
        margin-bottom: 2%;
    }
    .FooterSocialMedia{
        margin-top: 5%;
    }
    .FooterSocialMedia>figure{
        width: 30%;
    }
    .FooterSocialMedia>figure>img{
        width: 100%;
        aspect-ratio: 3/2;
    }
    .FooterSection1Writing3>:nth-child(1){
        font-size: 13px;
        margin-bottom: 2%;
    }
    .FooterSection2>ul>li{
        font-size: 10px;
        line-height: 15px;
    }
    .FooterSection2>ul>:first-child{
        font-size: 13px;
        margin-bottom: 2%;
    }
    .FooterSection3>p{
        font-size: 10px;
    }
    .FooterSection3{
        padding: 2% 0;
    }
}
@media (max-width: 740px){
    .FooterSection1 p {
        font-size: 9px;
    }
    .FooterSection1Writing2>:nth-child(1){
        font-size: 10px;
        margin-bottom: 1%;
    }
    .FooterSection1Writing3>:nth-child(1){
        font-size: 10px;
        margin-bottom: 1%;
    }
    .FooterSection2>ul>li{
        font-size: 7px;
        line-height: 10px;
    }
    .FooterSection2>ul>:first-child{
        font-size: 10px;
        margin-bottom: 2%;
    }
    .FooterSection3>p{
        font-size: 8px;
    }
    .FooterSection3{
        padding: 1% 0 2%;
    }
}
@media (max-width: 600px){
    .FooterSection1 p {
        font-size: 7px;
        line-height: 10px;
    }
    .FooterSection1Writing2>:nth-child(1){
        font-size: 10px;
        margin-bottom: 1%;
    }
    .FooterSection1Writing3>:nth-child(1){
        font-size: 10px;
        margin-bottom: 1%;
    }
    .FooterSection2>ul>li{
        font-size: 7px;
        line-height: 9px;
    }
    .FooterSection2>ul>:first-child{
        font-size: 9px;
        margin-bottom: 1%;
    }
    .FooterSection3>p{
        font-size: 7px;
    }
    .FooterSection3{
        padding: 1% 0 2%;
    }
}
@media (max-width: 400px){
    .FooterSection1 p {
        font-size: 5px;
        line-height: 8px;
    }
    .FooterSection1Writing2>:nth-child(1){
        font-size: 8px;
        margin-bottom: 1%;
    }
    .FooterSection1Writing3>:nth-child(1){
        font-size: 8px;
        margin-bottom: 1%;
    }
    .FooterSection2>ul>li{
        font-size: 5px;
        line-height: 7px;
    }
    .FooterSection2>ul>:first-child{
        font-size: 7px;
        margin-bottom: 0;
    }
    .FooterSection3>p{
        font-size: 7px;
    }
    
}
@media (max-width: 300px){
    .FooterSection2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .FooterSection1{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .FooterSection1>div{
        width: 45%;
        margin: 2% 0;
    }
    .FooterSection1Writing1>p, .FooterSection1Writing3>p, .FooterSection1Writing2>p{
        font-size: 8px;
        line-height: 10px;
    }
    .FooterSection1Writing1>figure{
        width: 60%;
    }
    .FooterSection1Writing2>:nth-child(1), .FooterSection1Writing3>:nth-child(1){
        font-size: 12px;
        margin-bottom: 2%;
    }
    .FooterSocialMedia{
        margin-top: 5%;
        width: 50%;
    }
    .FooterSocialMedia>figure{
        width: 40%;
    }
    .FooterSection2>ul{
        width: 45%;
        margin: 2% 0;
    }
    .FooterSection2>ul>li{
       font-size: 8px;
       line-height: 12px;
    }
    .FooterSection2>ul>:first-child{
        font-size: 10px;
        margin-bottom: 0;
    }
    .FooterSection3>p{
        font-size: 6px;
    }
}
@media (max-width: 250px){
    .FooterSection3>p{
        font-size: 4px;
    }
}