.Header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.profile{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #FAFAFB;
    padding: 20px 50px;
    font-family: Proxima;
    position: relative;
}
.profileLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}
.AccordionHolder{
    background-color: #fff;
    width: 4%;
    position: absolute;
    top: 50%;
    left: 4%;
}
.profileLeft>:nth-child(2){
    left: 8%;
}
.NavLink{
    text-decoration: none;
    width: 100%;
}
.profileRight{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.profileRight>:first-child{
    width: 25%;
    height: 100%;
}
.profileRight>:nth-child(2){
    width: 9%;
    height: 100%;
}
.profileRight>:nth-child(3){
    width: 20%;
    height: 100%;
}
.NavLink.FavEmpty{
    width: 15%;
}
.NavLink.FavEmpty>.Favorites{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileRight>:nth-child(4){
    width: 13%;
}
.profileRight>:nth-child(5){
    width: 7%;
}
.profileRight>:nth-child(4):hover{
    background-color: transparent;
}
.profileRight>.NavLink:hover, .NavLink.list:hover{
    background-color:#d9d9d945;
}
.ProfileInformation{
    width: 100%;
}
.ProfileInformationIcon{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ProfileInformationIcon>figure{
    width: 30px;
    height: 30px;
    margin-right: 5%;
}
.ProfileInformationIcon>figure>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ProfileInformation>p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #262626;
}
.Cart{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}
.CartImage{
    width: 80%;
    height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.CartImage.Blue, .CartNumberEllipse.Blue{
    display: none;
}
.NavLink.active>.Cart>.CartImage.Gray, .NavLink.active>.Cart>.CartNumber>.CartNumberEllipse.Red{
    display: none;
}
.NavLink.active>.Cart>.CartImage.Blue, .NavLink.active>.Cart>.CartNumber>.CartNumberEllipse.Blue{
    display: flex;
}
.CartImage>figure{
    width: 30px;
}
.CartImage>figure>img{
    width: 100%;
    height: 100%;
}
.CartNumber{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    right: 15%;
}
.CartNumberEllipse{
    width: 90%;
    height: 90%;
}
.CartNumberEllipse>figure{
    width: 100%;
    height: 100%;
}
.CartNumberEllipse>figure>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.CartNumber>p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.CartNumber.None{
    display: none;
}
.NavLink.active>.Favorites>p{
    color: #40BFFF;
}
.FavoriteNumber{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    right: 5%;
}
.FavoriteNumberEllipse{
    width: 100%;
    height: 100%;
}
.FavoriteNumberEllipse>figure{
    width: 100%;
    height: 100%;
}
.FavoriteNumberEllipse>figure>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.FavoriteNumber>p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.FavoriteNumber.None{
    display: none;
}
.Favorites{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.Favorites>p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #262626;
}
.NavLink>.Favorites>.FavoriteNumber>.FavoriteNumberEllipse.Blue{
    display: none;
}
.NavLink.active>.Favorites>.FavoriteNumber>.FavoriteNumberEllipse.Blue{
    display: flex;
}
.NavLink.active>.Favorites>.FavoriteNumber>.FavoriteNumberEllipse.Red{
    display: none;
}
.Total{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Total>p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #262626;
    opacity: 0.5;
}
.Search{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SearchIcon{
    width: 100%;
    height: 100%;
}
.SearchIcon>figure{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SearchIcon>figure>img{
    width: 30px;
    height: 30px;
}
.SearchIcon.Blue{
    display: none;
}
.NavLink.active>.Search>.SearchIcon.Gray{
    display: none;
}
.NavLink.active>.Search>.SearchIcon.Blue{
    display: flex;
}
.links{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #FAFAFB;
    padding: 30px 80px;
}
.logo{
    width: 10%;
}
.logo>img{
    width: 100%;
}
.pages{
    width: 30%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.pages>.NavLink{
    width: 50%;
   
}
.NavLink.list>li{
    width: 100%;
    padding: 20%  0;
    font-weight: 500;
    font-size: 25px;
    color: #22262A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NavLink.list.active>li{
    color: #40BFFF;
}
.NavLink{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.87);
}
.NavLink>div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 5%;
    margin: 10% 0;
}
.MenuIcon{
    display: none;
}
.SideBar{
    width: 300px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 4;
    background-color: #FAFAFB;
    transform: translateX(-100%);
    transition: all 0.3s ease-in;
    padding: 10% 5%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
}
.SideNavLink{
    text-decoration: none;
}
.SideNavLink.active>.CartWriting, .SideNavLink.active>.FavoriteWriting, .SideNavLink.active>.SearchWriting{
    color: #40BFFF;
}
.SideNavLink.active>.SideCart>.SideCartImage.Gray, .SideNavLink.active>.SideCart>.SideCartNumber>.SideCartNumberEllipse.Red,
.SideNavLink.active>.SideFavorite>.SideFavoriteImage.Gray, .SideNavLink.active>.SideFavorite>.SideFavoriteNumber>.SideFavoriteNumberEllipse.Red,
.SideNavLink.active>.SideSearch>.SideSearchIcon.Gray
{
    display: none;
}
.SideNavLink.active>.SideCart>.SideCartImage.Blue,.SideNavLink.active>.SideCart>.SideCartNumber>.SideCartNumberEllipse.Blue,
.SideNavLink.active>.SideFavorite>.SideFavoriteImage.Blue,.SideNavLink.active>.SideFavorite>.SideFavoriteNumber>.SideFavoriteNumberEllipse.Blue, .SideNavLink.active>.SideSearch>.SideSearchIcon.Blue{
    display: flex;
}
.SideBar.Show{
    transform: translateX(0);
}
.SideBarBack{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #424242ad;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.SideBarBack.Show{
    display: flex;
}
.ButtonBackDiv{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.ButtonBackDiv>figure{
    width: 25px;
    height: 25px;
    background: transparent;
    border: #22262a66 1px solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.ButtonBackDiv>figure>img{
    width: 100%;
    height: 100%;
}
.SidebarContent, .SidebarContent>:first-child{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.SidebarContent>:first-child{
    border-bottom: 1px solid #22262A;
    padding-bottom: 5%;
}
.SideProfileInformation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SideProfileInformationIcon{
   width: 100%;
   margin-bottom: 5%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.SideProfileInformationIcon>figure{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #cecece8e;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SideProfileInformationIcon>figure>img{
    width: 70%;
    height: 70%;
    object-fit: cover;
}
.ProfileName{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ProfileName>p{
    font-weight: 600;
    font-size: 25px;
    color: #57066e;
    text-decoration: underline;
}
.SidebarContent>:nth-child(2),.SidebarContent>:nth-child(3),  .SidebarContent>:nth-child(4){
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10% 0;
    padding-left: 5%;
}
.SidebarContent>:nth-child(2){
    margin-top: 20%;
}
.SideCart, .SideFavorite, .SideSearch{
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.SideSearch{
    align-items: center;
}
.SideCartImage, .SideFavoriteImage{
    width: 80%;
    height: 80%;
}
.SideSearchIcon{
    width: 70%;
    height: 70%;
}
.SideCartImage.Blue, .SideCartNumberEllipse.Blue, .SideFavoriteImage.Blue, .SideFavoriteNumberEllipse.Blue, .SideSearchIcon.Blue{
    display: none;
}
.SideCartNumber, .SideFavoriteNumber{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
}
.SideCartNumberEllipse, .SideCartNumberEllipse>figure, .SideCartImage>figure, .SideFavoriteImage>figure, .SideFavoriteNumberEllipse, .SideFavoriteNumberEllipse>figure, .SideSearchIcon>figure{
    width: 100%;
    height: 100%;
}
.SideCartNumberEllipse>figure>img, .SideCartImage>figure>img, .SideFavoriteNumberEllipse>figure>img, .SideFavoriteImage>figure>img, .SideSearchIcon>figure>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.SideCartNumber>p, .SideFavoriteNumber>p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #FFFFFF;
}
.CartWriting, .FavoriteWriting, .SearchWriting{
    margin-left: 5%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    font-size: 22px;
    color: #22262A;
}
.SideFavoriteNumber.None, .SideCartNumber.None{
    display: none;
}
.SideTotal{
    margin-top: 5%;
    width: 100%;
}
.SideTotal>p{
    color: #474b4e95;
}
@media (max-width: 1300px) {
    .AccordionHolder{
        width: 12%;
    }
    .profileRight{
        width: 60%;
    }
}
@media (max-width: 1200px) {
    .profileRight>:nth-child(3){
        width: 22%;
    }
    .profileRight>:nth-child(1){
        width: 30%;
    }
}
@media (max-width: 1100px) {
    .profileRight>:nth-child(3){
        width: 25%;
    }
}
@media (max-width: 1025px) {
    .profile{
        padding: 2% 5%;
        width: 100%;
    }
    .profileLeft{
        width: 10%;
    }
    .AccordionHolder{
        width: 10%;
    }
    .profileLeft>:nth-child(2){
        left: 9%;
    }
    .ProfileInformationIcon>p{
        font-size: 15px;
    }
    .ProfileInformationIcon>figure{
        width: 25px;
        height: 25px;
    }
    .CartImage>figure{
        width: 25px;
        height: 35px;
    }
    .CartNumber{
        width: 20px;
        height: 20px;
        top: 20%;
        right: 18%;
    }
    .Favorites>p{
        font-size: 16px;
    }
    .FavoriteNumber{
        width: 20px;
        height: 20px;
        top: 33%;
    }
    .profileRight>:nth-child(3){
        width: 22%;
    }
    .SearchIcon>figure>img{
        width: 25px;
        height: 25px;
    }
    .Total>p{
        font-size: 15px;
    }
    .logo{
        width: 12%;
    }
    .links{
        padding: 2% 5%;
    }
    .NavLink.list{
        font-size: 22px;
    }
}
@media (max-width: 950px) {
    .ProfileInformationIcon>p{
        font-size: 15px;
    }
    .ProfileInformationIcon>figure{
        width: 20px;
        height: 20px;
    }
    .CartImage>figure{
        width: 20px;
        height: 30px;
    }
    .CartNumber{
        width: 15px;
        height: 15px;
        right: 30%;
    }
    .CartNumber>p{
        margin-top: 18%;
        font-size: 8px;
    }
    .Favorites>p{
        font-size: 15px;
    }
    .FavoriteNumber{
        width: 15px;
        height: 15px;
    }
    .FavoriteNumber>p{
        margin-top: 18%;
        font-size: 8px;
    }
    .profileRight>:nth-child(3){
        width: 22%;
    }
    .Total>p{
        font-size: 15px;
    }
    .logo{
        width: 12%;
    }
    .links{
        padding: 2% 5%;
    }
    .NavLink.list{
        font-size: 20px;
    }
    .pages{
        width: 40%;
    }
    .logo{
        width: 15%;
    }
}
@media (max-width: 900px) {
    .ProfileInformationIcon>p{
        font-size: 14px;
    }
    .CartNumber{
        right: 26%;
    }
    .Favorites>p{
        font-size: 14px;
    }
    .Total>p{
        font-size: 14px;
    }
    .NavLink.list{
        font-size: 19px;
    }
}
@media (max-width: 850px) {
    .ProfileInformationIcon>p{
        font-size: 13px;
    }
    .CartNumber{
        right: 23%;
    }
    .Favorites>p{
        font-size: 13px;
    }
    .Total>p{
        font-size: 13px;
    }
    .NavLink.list{
        font-size: 20px;
    }
}
@media (max-width: 800px) {
    .CartNumber{
        right: 18%;
    }

    .pages{
        width: 50%;
    }
    .logo{
        width: 20%;
    }
}
@media (max-width: 700px) {
    .profileRight{
        width: 70%;
    }
    .AccordionHolder{
        top: 35%;
    }
    .CartNumber{
        right: 25%;
    }
}
@media (max-width: 650px) {
    .profileLeft, .profileRight{
        display: none;
    }
    .MenuIcon{
        display: flex;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    .MenuIcon>figure{
        width: 100%;
        height: 100%;
    }
    .MenuIcon>figure>img{
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 550px) {
    .NavLink.list{
        font-size: 20px;
    }
    .pages{
        width: 60%;
    }
    .logo{
        width: 25%;
    }
}
@media (max-width: 400px) {
    .NavLink.list{
        font-size: 18px;
    }
    .logo{
        width: 25%;
    }
    .pages{
        width: 70%;
    }
    .logo{
        width: 25%;
    }
}
@media (max-width: 350px) {
    .NavLink.list>li{
        font-size: 20px;
    }
    .pages{
        width: 70%;
    }
    .logo{
        width: 25%;
    }
}
@media (max-width: 300px) {
    .NavLink.list>li{
        font-size: 18px;
    }
    .logo{
        width: 25%;
    }
    .Sidebar{
        width: 100%;
    }
}