.AdvertisementSection{
    width: 100%;
    background: #40BFFF;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.AdvertisementSectionWriting{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8% 0 0 5%;
}
.AdvertisementSectionWriting>:nth-child(1){
    font-size: 55px;
    line-height: 82px;
    color: #FFFFFF;
}
.AdvertisementSectionWriting>:nth-child(2){
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.AdvertisementSectionWritingButton{
    background-color: transparent;
    border: none;
    border-bottom: #FFFFFF 4px solid;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 5%;
    padding-bottom: 1%;
    transition: all 0.3s ease-in-out;
}
.AdvertisementSectionWritingButton:hover{
    transform: scale(1.1);
    color: #f4c6c6;
    border-bottom: #f4c6c6 4px solid;
}
.AdvertisementSection>figure{
    width: 50%;
    margin-top: -100px;
    margin-right: 50px;
}
.AdvertisementSection>figure>{
    width: 100%;
}