@font-face {
    font-family: Raleway;
    src: url(../\/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Proxima;
    src: url(../fonts/Proxima\ Nova\ Font.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: Poppins;
}
.wrapper{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.wrapper.noscroll{
    max-height: 100vh;
    overflow-y: hidden;
    position: fixed;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box; 
  }
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
    width: 25px;
}