.home-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.home-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding: 18% 90px 5% 90px;
}
.home-section>figure{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}
.home-section>figure>img{
    width: 100%;
    object-fit: cover;
}
.banner-title{
    width: 50%;
}
.banner-title>p{
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-bottom: 110px;
}
.best-seller-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.best-seller-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.best-seller-title>p{
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    color: #22262A;
}
.best-seller-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 400px 30px 400px;
}
.module>p{
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #22262A;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.module>:hover{
    transform: scale(1.1);
}
.module.active{
    border-bottom: #33A0FF 4px solid;
}
.module.active>p{
    color: #33A0FF;
}
.product-lists{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    transition: all 1s ease-in;
    overflow: hidden;
}
.products{
    width: 23%;
    margin: 1%;
}
.load-more-products{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
}
.load-more-products>div{
    border-bottom: 3px solid  #33A0FF;
    cursor: pointer;
}
.load-more-products>div>p{
    font-size: 20px;
    line-height: 30px;
    color: #33A0FF;
}
.load-more-products>div>:active{
    color: #151515;
}
.advertising-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}
.service-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 7% 10%;
}
.ServicesCardHolder{
    width: 30%;
}
.news-section, .featured-products{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.news-title, .featured-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-title>p, .featured-title>p{
    font-weight: 600;
    font-size: 34px;
    line-height: 51px;
    color: #22262A;
}
.common-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}
.new-card, .feature-card{
    width: 33%;
}
.is-loading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 270px;
}
.is-loading>p{
    font-weight: 600;
    font-size: 34px;
    line-height: 51px;
    color: #22262A;
}