.promotionCardOne, .promotionCardThree, .promotionCardTwo{
    width: 100%;
    height: auto;
    max-height: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 6%  5%  6% 12%;
    cursor: pointer;
}
.promotionCardOne>figure, .promotionCardThree>figure, .promotionCardTwo>figure{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.promotionCardOne>figure>img, .promotionCardThree>figure>img, .promotionCardTwo>figure>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.PromotionCardONeTitle{
    width: 60%;
    margin-top: 5%;
}
.PromotionCardONeTitle>p, .promotionCardThreeTitle>p{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #223263;
    margin-top: 2%;
}
.promotionCardOne>:nth-child(3){
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #9098B1;
    margin-top: 210px;
}
.promotionCardOne>:nth-child(3)>span, .promotionCardTwoPrice>p>span, .promotionCardThree>p>span{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #FB7181;
    margin-left: 10px;
}
.promotionCardOneCurrentPrice{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -5%;
}
.promotionCardOneCurrentPrice>p{
    font-weight: 700;
    font-size: 30px;
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #40BFFF;
    font-family: Raleway;  
}
.promotionCardTwoTitle{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 220px;
}
.promotionCardTwoTitle>:nth-child(1){
    width: 50%;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #223263;
}
.promotionCardTwoTitle>:nth-child(2){
    font-family: Raleway;
    font-weight: 700;
    font-size: 30px;
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #40BFFF;
}
.promotionCardTwoPrice{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promotionCardTwoPrice>p{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #9098B1;
    text-align: center;
}
.promotionCardThreeTitle{
    width: 60%;
}
.promotionCardThree>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #9098B1;
}
.promotionCardThreeCurrentPrice{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.promotionCardThreeCurrentPrice>p{
    font-family: Raleway;
    font-weight: 700;
    font-size: 30px;
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #40BFFF;
    margin-top: 210px;
}
.ProductCards{
    overflow: hidden;
    width: 100%;
    height: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 3px solid #F6F7F8;
    position: relative;
    cursor: pointer;
}

.ProductCardsFigure{
    width: 100%;
    height: 70%;
    position: relative;
    cursor: pointer;
}
.ProductCardsFigure>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ProductCardsTitle{
    width: 100%;
    text-align: center;
    margin-top: 7%;
}
.ProductCardsTitle>p{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #223263;
}
.ProductCardsCurrentPrice{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 14%;
}
.ProductCardsCurrentPrice>:nth-child(1){
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #40BFFF;
}
.ProductCardsCurrentPrice>:nth-child(2){
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #9098B1;
}
.ProductCardsCurrentPrice>:nth-child(2)>span{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #FB7181;
    margin-left: 8px;
}
.ProductCardsHover{
    display: flex;
    width: 96%;
    height: 96%;
    position: absolute;
    top: 1%;
    left: 2%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    opacity: 0.95;
    transition: all .5s ease-in-out;
    transform: translateY(-102%);
}
.ProductCardsFigure:hover>.ProductCardsHover{
    transform: translateY(0);
}
.CartIconHolder, .LikeIconHolder{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 4%;
    border-radius: 50%;
    background-color: #33a0ff8c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CartIconHolder.Red{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 4%;
    border-radius: 50%;
    background-color: #e74f25b4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CartIconHolder>figure, .LikeIconHolder>figure{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CartIconHolder>figure>img, .LikeIconHolder>figure>img{
    width: 17.8px;
    height: 15.6px;
}

.IconCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.IconCard>figure{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.IconCard>figure>img{
    width: 20%;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.IconCard>:nth-child(2){
    font-size: 27px;
    line-height: 40px;
    color: #22262A;
    margin: 8% 0 10% 0;
}
.IconCard>:nth-child(3){
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #22262A;
}

.HorizontalNewsCard, .HorizontalProductCard{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5%;
    transition: all ease 0.3s;
}
.HorizontalNewsCard:hover{
    background-color: #40bfff27;
}
.HorizontalNewsCard>figure, .HorizontalProductCard>figure{
    width: 152px;
    height: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}
.HorizontalNewsCard>figure>img, .HorizontalProductCard>figure>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.HorizontalNewsCardWriting, .HorizontalProductCardWriting{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.HorizontalNewsCardWriting>:nth-child(1){
    font-size: 18px;
    line-height: 27px;
    color: #C1C8CE;
}
.HorizontalNewsCardWriting>:nth-child(2){
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #22262A;
}
.HorizontalNewsCardWriting>:nth-child(3){
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #22262A;
}
.HorizontalProductCardWriting>:nth-child(1){
    font-family: Proxima;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #262626;
}
.HorizontalProductCardWriting>:nth-child(3){
    font-family: Proxima;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #C1C8CE;
}
.HorizontalProductCardWriting>:nth-child(3)>span{
    font-size: 20px;
    line-height: 30px;
    color: #FF4858;
    margin-right: 10px;
}
.HorizontalProductCard:hover{
    transform: scale(1.1);
}

.ProductCardsHorizontal{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: #F6F7F8 solid 3px;
    cursor: pointer;
}
.ProductCardsFigureHorizontal{
    width: 299.5px;
    height: 272.5px;
}
.ProductCardsFigureHorizontal>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ProductCardsWritingHorizontal{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2% 5%;
}
.ProductCardsTitleHorizontal{
    width: 100%;
}
.ProductCardsTitleHorizontal>p{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #22262A;
}
.ProductCardsRatingHorizontal{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 5% 0;
}
.ProductCardsRatingHorizontal>:nth-child(2){
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C1C8CE;
    margin: 0 5%;
}
.ProductCardsRatingHorizontal>:nth-child(3){
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #33A0FF;
    cursor: pointer;
}
.ProductCardsDescriptionHorizontal{
    width: 100%;
}
.ProductCardsCurrentPriceHorizontal{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.ProductCardsCurrentPriceHorizontal>:nth-child(1){
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #40BFFF;
    margin-right: 3%;
}
.ProductCardsCurrentPriceHorizontal>:nth-child(2){
    width: 500px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #9098B1;
}
.ProductCardsCurrentPriceHorizontal>:nth-child(2)>span{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #FB7181;
    margin-left: 2%;
}
.ProductCardsDescriptionHorizontal{
    width: 100%;
    margin: 4% 0;
}
.ProductCardsDescriptionHorizontal>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
}
.ProductCardsActionHorizontal{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.ProductCardsCartHorizontal{
    width: 150px;
    height: 46px;
    display: flex;
    flex-direction: row;
    background: #33a0ff1d;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.ProductCardsCartHorizontal>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #33A0FF;
}
.ProductCardsCartHorizontal:hover{
    transform: scale(1.1);
}
.ProductCardsCartHorizontal>figure{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7%;
    
}
.ProductCardsLikeHorizontal{
    width: 46px;
    height: 46px;
    background: #33a0ff1d;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.ProductCardsLikeHorizontal:hover{
    transform: scale(1.1);
}
.ProductCardsLikeHorizontal>figure{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AdminProductCards{
    overflow: hidden;
    width: 100%;
    height: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 3px solid #F6F7F8;
    position: relative;
    cursor: pointer;
}
.AdminProductCardsFigure{
    width: 100%;
    height: 70%;
    position: relative;
    cursor: pointer;
}
.AdminProductCardsFigure>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.AdminProductCardsTitle{
    width: 100%;
    text-align: center;
    margin-top: 7%;
}
.AdminProductCardsTitle>p{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #223263;
}
.AdminProductCardsCurrentPrice{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 14%;
}
.AdminProductCardsCurrentPrice>:nth-child(1){
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0.5px;
    color: #40BFFF;
}
.AdminProductCardsCurrentPrice>:nth-child(2){
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #9098B1;
}
.AdminProductCardsCurrentPrice>:nth-child(2)>span{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #FB7181;
    margin-left: 8px;
}
.AdminProductCardsHover{
    display: flex;
    width: 96%;
    height: 96%;
    position: absolute;
    top: 1%;
    left: 2%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    opacity: 0.95;
    transition: all .5s ease-in-out;
    transform: translateY(-102%);
}
.AdminProductCardsFigure:hover>.AdminProductCardsHover{
    transform: translateY(0);
}
.AdminCartIconHolder{
    background-color: #636465;
    border-radius: 50%;
    margin: 0 2%;
}
.AdminCartIconHolder>figure{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: center;
}
.AdminCartIconHolder>figure>img{
    width: 17.8px;
    height: 15.6px;
}
@media (max-width: 1300px) {
    .promotionCardOne>:nth-child(3){
        margin-top: 60%;
        font-size: 15px;
    }
}
@media (max-width: 1025px) {
    .promotionCardOne, .promotionCardThree, .promotionCardTwo{
        max-height: 300px;
    }
    .PromotionCardONeTitle{
        width: 100%;
    }
    .promotionCardOne>:nth-child(3){
        margin-top: 70%;
        font-size: 15px;
    }
    .promotionCardTwoTitle{
        margin-bottom: 60%;
    }
    .promotionCardTwoPrice{
        margin-bottom: 20%;
    }
    
    .promotionCardTwoTitle>:nth-child(1){
        font-size: 20px;
    }
    .promotionCardTwoTitle>:nth-child(2){
        font-size: 20px;
    }
    .promotionCardOneCurrentPrice>p{
        font-size: 20px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 65%;
        font-size: 25px;
        margin-bottom: 30%;
    }
    .ProductCardsCurrentPrice{
        margin-top: 3%;
        padding: 0 20%;
    }
    .ProductCardsCurrentPrice{
        padding: 0 15%;
    }
    .ProductCardsCurrentPrice>:nth-child(1){
        font-size: 17px;
    }
    .ProductCardsCurrentPrice>:nth-child(2){
        font-size: 13px;
    }
    .ProductCardsCurrentPrice>:nth-child(2)>span{
        font-size: 13px;
    }
}
@media (max-width: 950px) {
    .promotionCardOne, .promotionCardThree, .promotionCardTwo{
        max-height: 270px;
    }
    .promotionCardOne>:nth-child(3){
        margin-top: 68%;
        font-size: 13px;
    }
    .promotionCardTwoTitle{
        margin-bottom: 60%;
    }
    .promotionCardTwoPrice{
        margin-bottom: 20%;
    }
    .promotionCardTwoTitle>:nth-child(1){
        font-size: 18px;
    }
    .promotionCardTwoTitle>:nth-child(2){
        font-size: 18px;
    }
    .promotionCardOneCurrentPrice>p{
        font-size: 18px;
    }
    .promotionCardOneCurrentPrice>p>span{
        font-size: 18px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 63%;
        font-size: 18px;
        margin-bottom: 30%;
    }
    .ProductCards{
        max-height: 270px;
    }
    .ProductCardsTitle{
        margin-top: 3%;
    }
    .ProductCardsCurrentPrice{
        margin-top: 3%;
        padding: 0 10%;
    }
    .ProductCardsTitle>p{
        font-size: 13px;
    }
    .ProductCardsRating>p{
        font-size: 10px;
    }
    .ProductCardsCurrentPrice>:nth-child(1){
        font-size: 14px;
    }
    .ProductCardsCurrentPrice>:nth-child(2){
        font-size: 12px;
    }
    .ProductCardsCurrentPrice>:nth-child(2)>span{
        font-size: 12px;
    }
}
@media (max-width: 900px) {
    .promotionCardOne, .promotionCardThree, .promotionCardTwo{
        max-height: 250px;
    }
    .PromotionCardONeTitle{
        width: 80%;
    }
    .PromotionCardONeTitle>p{
        font-size: 19px;
    }
    .promotionCardOne>:nth-child(3){
        margin-top: 65%;
        font-size: 10px;
    }
    .promotionCardOne>:nth-child(3)>span{
        font-size: 13px;
    }
    .promotionCardOneCurrentPrice>p{
        font-size: 15px;
        margin-bottom: 20%;
    }
    .promotionCardTwoTitle{
        margin-bottom: 60%;
    }
    .promotionCardTwoPrice{
        margin-bottom: 20%;
    }
    .promotionCardTwoTitle>:nth-child(1){
        font-size: 18px;
    }
    .promotionCardTwoTitle>:nth-child(2){
        font-size: 20px;
    }
    .promotionCardTwoPrice>p{
        font-size: 15px;
    }
    .promotionCardTwoPrice>p>span{
        font-size: 15px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 60%;
        font-size: 20px;
        margin-bottom: 30%;
    }
    .ProductCards{
        max-height: 300px;
    }
    .promotionCardThreeTitle>p{
        font-size: 20px;
    }
    .promotionCardThree>p{
        font-size: 15px;
    }
    .promotionCardThree>p>span{
        font-size: 15px;
    }
    .IconCard>:nth-child(2){
        font-size: 20px;
    }
    .IconCard>:nth-child(3){
        font-size: 15px;
    }
    .ProductCardsTitle>p{
        font-size: 15px;
    }
    .ProductCardsRating>p{
        font-size: 10px;
    }
    .ProductCardsCurrentPrice>:nth-child(1){
        font-size: 16px;
    }
    .ProductCardsCurrentPrice>:nth-child(2){
        font-size: 10px;
    }
    .ProductCardsCurrentPrice>:nth-child(2)>span{
        font-size: 10px;
    }
}
@media (max-width: 870px) {
    .promotionCardOne>:nth-child(3){
        margin-top: 58%;
    }
    .IconCard>:nth-child(2){
        font-size: 18px;
    }
    .IconCard>:nth-child(3){
        font-size: 13px;
    }
}
@media (max-width: 800px) {
    .promotionCardOne, .promotionCardThree, .promotionCardTwo{
        max-height: 200px;
    }
    .PromotionCardONeTitle{
        margin-top: 2%;
        width: 90%;
    }
    .PromotionCardONeTitle>p{
        font-size: 18px;
    }
    .promotionCardOne>:nth-child(3){
        margin-top: 60%;
        font-size: 10px;
    }
    .promotionCardOne>:nth-child(3)>span{
        font-size: 12px;
    }
    .promotionCardOneCurrentPrice>p{
        font-size: 14px;
    }
    .promotionCardTwoTitle{
        margin-bottom: 60%;
    }
    .promotionCardTwoPrice{
        margin-bottom: 20%;
    }
    .promotionCardTwoTitle>:nth-child(1){
        width: 70%;
        font-size: 14px;
    }
    .promotionCardTwoTitle>:nth-child(2){
        font-size: 14px;
    }
    .promotionCardTwoPrice>p{
        font-size: 13px;
    }
    .promotionCardTwoPrice>p>span{
        font-size: 13px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 45%;
        font-size: 20px;
        margin-bottom: 40%;
    }
    .promotionCardThreeTitle>p{
        font-size: 15px;
    }
    .promotionCardThree>p{
        font-size: 13px;
    }
    .promotionCardThree>p>span{
        font-size: 14px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 53%;
        font-size: 18px;
    }
}
@media (max-width: 740px) {
    .promotionCardOne, .promotionCardThree, .promotionCardTwo{
        max-height: 200px;
    }
    .PromotionCardONeTitle{
        margin-top: 2%;
        width: 90%;
    }
    .PromotionCardONeTitle>p{
        font-size: 17px;
    }
    .promotionCardOne>:nth-child(3){
        margin-top: 62%;
        font-size: 10px;
    }
    .promotionCardOne>:nth-child(3)>span{
        font-size: 12px;
    }
    .promotionCardOneCurrentPrice>p{
        font-size: 15px;
    }
    .promotionCardTwoTitle{
        margin-bottom: 60%;
    }
    .promotionCardTwoPrice{
        margin-bottom: 20%;
    }
    .promotionCardTwoTitle>:nth-child(1){
        width: 70%;
        font-size: 14px;
    }
    .promotionCardTwoTitle>:nth-child(2){
        font-size: 14px;
    }
    .promotionCardTwoPrice>p{
        font-size: 13px;
    }
    .promotionCardTwoPrice>p>span{
        font-size: 13px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 45%;
        font-size: 20px;
        margin-bottom: 40%;
    }
    .promotionCardThreeTitle>p{
        font-size: 15px;
    }
    .promotionCardThree>p{
        font-size: 13px;
    }
    .promotionCardThree>p>span{
        font-size: 14px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 53%;
        font-size: 17px;
    }
    .IconCard>:nth-child(2){
        font-size: 15px;
    }
    .IconCard>:nth-child(3){
        font-size: 13px;
    }
}
@media (max-width: 700px) {
    .promotionCardOne, .promotionCardThree, .promotionCardTwo{
        max-height: 160px;
    }
    .PromotionCardONeTitle{
        margin-top: 0;
        width: 90%;
    }
    .PromotionCardONeTitle>p{
        font-size: 13px;
    }
    .promotionCardOne>:nth-child(3){
        margin-top: 58%;
        font-size: 7px;
    }
    .promotionCardOne>:nth-child(3)>span{
        font-size: 9px;
    }
    .promotionCardOneCurrentPrice>p{
        font-size: 9px;
    }
    .promotionCardTwoTitle{
        margin-bottom: 55%;
    }
    .promotionCardTwoPrice{
        margin-bottom: 20%;
    }
    .promotionCardTwoTitle>:nth-child(1){
        width: 70%;
        font-size: 10px;
    }
    .promotionCardTwoTitle>:nth-child(2){
        font-size: 13px;
    }
    .promotionCardTwoPrice>p{
        font-size: 10px;
    }
    .promotionCardTwoPrice>p>span{
        font-size: 10px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 45%;
        font-size: 15px;
        margin-bottom: 40%;
    }
    .promotionCardThreeTitle>p{
        font-size: 12px;
    }
    .promotionCardThree>p{
        font-size: 10px;
    }
    .promotionCardThree>p>span{
        font-size: 10px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 50%;
        font-size: 13px;
    }
    .ProductCards{
        max-height: 230px;
    }
    .ProductCardsTitle{
        margin-top: 3%;
    }
    .ProductCardsTitle>p{
        font-size: 12px;
    }
    .ProductCardsRating>p{
        font-size: 10px;
    }
    .ProductCardsCurrentPrice>:nth-child(1){
        font-size: 10px;
    }
    .ProductCardsCurrentPrice>:nth-child(2){
        font-size: 8px;
    }
    .ProductCardsCurrentPrice>:nth-child(2)>span{
        font-size: 8px;
    }
    .IconCard{
        width: 100%;
    }
    .IconCard>:nth-child(2){
        margin: 2% 0;
        font-size: 20px;
        text-align: center;
    }
    .IconCard>:nth-child(3){
        font-size: 15px;
    }
}
@media (max-width: 650px) {
    .promotionCardOne, .promotionCardThree, .promotionCardTwo{
        max-height: 400px;
    }
    .PromotionCardONeTitle, .promotionCardTwoTitle{
        width: 60%;
        margin-top: 5%;
    }
    .PromotionCardONeTitle>p{
        font-size: 30px;
    }
    .promotionCardOne>:nth-child(3){
        margin-top: 43%;
        font-size: 18px;
    }
    .promotionCardOne>:nth-child(3)>span{
        font-size: 18px;
    }
    .promotionCardOneCurrentPrice>p{
        font-size: 25px;
    }
    .promotionCardTwoTitle{
        margin-bottom: 55%;
    }
    .promotionCardTwoPrice{
        margin-bottom: 20%;
    }
    .promotionCardTwoTitle{
        width: 100%;
        margin-top: 1%;
    }
    .promotionCardTwoTitle>:nth-child(1){
        width: 70%;
        font-size: 30px;
    }
    .promotionCardTwoTitle>:nth-child(2){
        font-size: 30px;
    }
    .promotionCardTwoPrice>p{
        font-size: 20px;
    }
    .promotionCardTwoPrice>p>span{
        font-size: 25px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 45%;
        font-size: 30px;
        margin-bottom: 40%;
    }
    .promotionCardThreeTitle>p{
        font-size: 30px;
    }
    .promotionCardThree>p{
        font-size: 20px;
    }
    .promotionCardThree>p>span{
        font-size: 25px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 53%;
        font-size: 25px;
    }
    .ProductCards{
        max-height: 350px;
    }
    .ProductCardsTitle{
        margin-top: 3%;
    }
    .ProductCardsTitle>p{
        font-size: 17px;
    }
    .ProductCardsRating>p{
        font-size: 15px;
    }
    .ProductCardsCurrentPrice>:nth-child(1){
        font-size: 15px;
    }
    .ProductCardsCurrentPrice>:nth-child(2){
        font-size: 12px;
    }
    .ProductCardsCurrentPrice>:nth-child(2)>span{
        font-size: 12px;
    }
}
@media (max-width: 630px) {
    .promotionCardOne>:nth-child(3){
        margin-top: 47%;
        font-size: 10px;
    }
    .ProductCards{
        max-height: 300px;
    }
    .ProductCardsTitle>p{
        font-size: 15px;
    }
    .ProductCardsRating>p{
        font-size: 13px;
    }
    .ProductCardsCurrentPrice>:nth-child(1){
        font-size: 13px;
    }
    .ProductCardsCurrentPrice>:nth-child(2){
        font-size: 11px;
    }
    .ProductCardsCurrentPrice>:nth-child(2)>span{
        font-size: 11px;
    }
    .HorizontalNewsCard{
        padding: 5% 0;
    }
    .HorizontalNewsCardWriting>:nth-child(1){
        font-size: 15px;
    }
    .HorizontalNewsCardWriting>:nth-child(2){
        font-size: 15px;
    }
    .HorizontalNewsCardWriting>:nth-child(3){
        font-size: 13px;
    }
}
@media (max-width: 550px) {
    .promotionCardOne>:nth-child(3){
        margin-top: 55%;
        font-size: 10px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 60%;
        font-size: 25px;
    }
    .promotionCardTwoTitle>:nth-child(1){
        width: 60%;
        font-size: 23px;
    }
    .promotionCardTwoTitle>:nth-child(2){
        font-size: 25px;
    }
    .promotionCardTwoTitle{
        margin-bottom: 70%;
    }
    .ProductCards{
        max-height: 270px;
    }
    .ProductCardsTitle>p{
        font-size: 13px;
    }
    .ProductCardsRating>p{
        font-size: 10px;
    }
    .ProductCardsCurrentPrice{
        padding: 0 10%;
    }
    .ProductCardsCurrentPrice>:nth-child(1){
        font-size: 15px;
    }
    .ProductCardsCurrentPrice>:nth-child(2){
        font-size: 10px;
    }
    .ProductCardsCurrentPrice>:nth-child(2)>span{
        font-size: 10px;
    }
}
@media (max-width: 500px) {
    .promotionCardThreeCurrentPrice>p{
        margin-top: 70%;
    }
    .ProductCards{
        max-height: 250px;
    }
    .ProductCardsTitle>p{
        font-size: 13px;
    }
    .ProductCardsRating>p{
        font-size: 10px;
    }
    .ProductCardsCurrentPrice{
        padding: 0 10%;
    }
    .ProductCardsCurrentPrice>:nth-child(1){
        font-size: 12px;
    }
    .ProductCardsCurrentPrice>:nth-child(2){
        font-size: 7px;
    }
    .ProductCardsCurrentPrice>:nth-child(2)>span{
        font-size: 7px;
    }
    .HorizontalNewsCardWriting>:nth-child(1){
        font-size: 12px;
    }
    .HorizontalNewsCardWriting>:nth-child(2){
        font-size: 12px;
        margin: 0;
    }
    .HorizontalNewsCardWriting>:nth-child(3){
        font-size: 11px;
        line-height: 110%;
    }
}
@media (max-width: 460px) {
    .promotionCardOne, .promotionCardThree, .promotionCardTwo{
        max-height: 300px;
    }
    .PromotionCardONeTitle{
        margin-top: 1%;
        width: 80%;
    }
    .PromotionCardONeTitle>p{
        font-size: 19px;
    }
    .promotionCardOne>:nth-child(3){
        margin-top: 69%;
        font-size: 10px;
    }
    .promotionCardOne>:nth-child(3)>span{
        font-size: 13px;
    }
    .promotionCardOneCurrentPrice>p{
        font-size: 15px;
        margin-bottom: 20%;
    }
    .promotionCardTwoTitle{
        margin-bottom: 60%;
    }
    .promotionCardTwoPrice{
        margin-bottom: 20%;
    }
    .promotionCardTwoTitle>:nth-child(1){
        font-size: 18px;
    }
    .promotionCardTwoTitle>:nth-child(2){
        font-size: 20px;
    }
    .promotionCardTwoPrice>p{
        font-size: 15px;
    }
    .promotionCardTwoPrice>p>span{
        font-size: 15px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 60%;
        font-size: 20px;
        margin-bottom: 30%;
    }
    .promotionCardThreeTitle>p{
        font-size: 20px;
    }
    .promotionCardThree>p{
        font-size: 15px;
    }
    .promotionCardThree>p>span{
        font-size: 15px;
    }
    .ProductCards{
        max-height: 230px;
    }
    .ProductCardsTitle>p{
        font-size: 10px;
    }
    .ProductCardsRating>p{
        font-size: 8px;
    }
    .ProductCardsCurrentPrice{
        padding: 0 10%;
    }
    .ProductCardsCurrentPrice>:nth-child(1){
        font-size: 11px;
    }
    .ProductCardsCurrentPrice>:nth-child(2){
        font-size: 7px;
    }
    .ProductCardsCurrentPrice>:nth-child(2)>span{
        font-size: 7px;
    }
    .ProductCards{
        max-height: 360px;
    }
    .ProductCardsTitle>p{
        font-size: 18px;
    }
    .ProductCardsRating>p{
        font-size: 15px;
    }
    .ProductCardsCurrentPrice{
        padding: 0 12%;
    }
    .ProductCardsCurrentPrice>:nth-child(1){
        font-size: 15px;
    }
    .ProductCardsCurrentPrice>:nth-child(2){
        font-size: 13px;
    }
    .ProductCardsCurrentPrice>:nth-child(2)>span{
        font-size: 13px;
    }
}
@media (max-width: 400px) {
    .promotionCardOne, .promotionCardThree, .promotionCardTwo{
        max-height: 250px;
    }
    .PromotionCardONeTitle{
        margin-top: 1%;
        width: 80%;
    }
    .PromotionCardONeTitle>p{
        font-size: 19px;
    }
    .promotionCardOne>:nth-child(3){
        margin-top: 60%;
        font-size: 10px;
    }
    .promotionCardOne>:nth-child(3)>span{
        font-size: 13px;
    }
    .promotionCardOneCurrentPrice>p{
        font-size: 15px;
        margin-bottom: 20%;
    }
    .promotionCardTwoTitle{
        margin-bottom: 55%;
    }
    .promotionCardTwoPrice{
        margin-bottom: 20%;
    }
    .promotionCardTwoTitle>:nth-child(1){
        width: 70%;
        font-size: 18px;
    }
    .promotionCardTwoTitle>:nth-child(2){
        font-size: 20px;
    }
    .promotionCardTwoPrice>p{
        font-size: 15px;
    }
    .promotionCardTwoPrice>p>span{
        font-size: 15px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 50%;
        font-size: 20px;
        margin-bottom: 30%;
    }
    .promotionCardThreeTitle>p{
        font-size: 20px;
    }
    .promotionCardThree>p{
        font-size: 15px;
    }
    .promotionCardThree>p>span{
        font-size: 15px;
    }
    .HorizontalNewsCard>figure{
        width: 80px;
        height: 80px;
    }
    .ProductCardsTitle{
        margin-top: 3%;
    }
    .ProductCardsTitle>p{
        font-size: 18px;
    }
    .ProductCardsRating>p{
        font-size: 10px;
    }
    .ProductCardsCurrentPrice>:nth-child(1){
        font-size: 20px;
    }
    .ProductCardsCurrentPrice>:nth-child(2){
        font-size: 15px;
    }
    .ProductCardsCurrentPrice>:nth-child(2)>span{
        font-size: 15px;
    }
}
@media (max-width: 360px) {
    .promotionCardOne, .promotionCardThree, .promotionCardTwo{
        max-height: 250px;
    }
    .PromotionCardONeTitle{
        margin-top: 1%;
        width: 80%;
    }
    .PromotionCardONeTitle>p{
        font-size: 19px;
    }
    .promotionCardOne>:nth-child(3){
        margin-top: 65%;
        font-size: 10px;
    }
    .promotionCardOne>:nth-child(3)>span{
        font-size: 12px;
    }
    .promotionCardOneCurrentPrice>p{
        font-size: 15px;
        margin-bottom: 20%;
    }
    .promotionCardTwoTitle{
        margin-bottom: 55%;
    }
    .promotionCardTwoPrice{
        margin-bottom: 20%;
    }
    .promotionCardTwoTitle{
        margin-bottom: 65%;
    }
    .promotionCardTwoTitle>:nth-child(1){
        width: 70%;
        font-size: 15px;
    }
    .promotionCardTwoTitle>:nth-child(2){
        font-size: 18px;
    }
    .promotionCardTwoPrice>p{
        font-size: 15px;
    }
    .promotionCardTwoPrice>p>span{
        font-size: 15px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 58%;
        font-size: 15px;
        margin-bottom: 30%;
    }
    .promotionCardThreeTitle>p{
        font-size: 20px;
    }
    .promotionCardThree>p{
        font-size: 15px;
    }
    .promotionCardThree>p>span{
        font-size: 15px;
    }
}

@media (max-width: 300px) {
    .promotionCardOne, .promotionCardThree, .promotionCardTwo{
        max-height: 200px;
    }
    .PromotionCardONeTitle{
        margin-top: 0;
        width: 80%;
    }
    .PromotionCardONeTitle>p{
        font-size: 15px;
    }
    .promotionCardOne>:nth-child(3){
        margin-top: 68%;
        font-size: 10px;
    }
    .promotionCardOne>:nth-child(3)>span{
        font-size: 10px;
    }
    .promotionCardOneCurrentPrice>p{
        font-size: 12px;
        margin-bottom: 20%;
    }
    .promotionCardTwoTitle{
        margin-bottom: 55%;
    }
    .promotionCardTwoPrice{
        margin-bottom: 15%;
    }
    .promotionCardTwoTitle{
        margin-bottom: 65%;
    }
    .promotionCardTwoTitle>:nth-child(1){
        width: 90%;
        font-size: 13px;
    }
    .promotionCardTwoTitle>:nth-child(2){
        font-size: 15px;
    }
    .promotionCardTwoPrice>p{
        font-size: 10px;
    }
    .promotionCardTwoPrice>p>span{
        font-size: 10px;
    }
    .promotionCardThreeCurrentPrice>p{
        margin-top: 60%;
        font-size: 12px;
        margin-bottom: 30%;
    }
    .promotionCardThreeTitle>p{
        font-size: 15px;
    }
    .promotionCardThree>p{
        font-size: 10px;
    }
    .promotionCardThree>p>span{
        font-size: 10px;
    }
    .HorizontalNewsCard>figure{
        width: 50px;
        height: 50px;
    }
    .HorizontalNewsCardWriting>:nth-child(1){
        font-size: 7px;
    }
    .HorizontalNewsCardWriting>:nth-child(2){
        font-size: 10px;
    }
    .HorizontalNewsCardWriting>:nth-child(3){
        font-size: 7px;
        line-height: 110%;
    }
    .ProductCards{
        max-height: 270px;
    }
    .ProductCardsTitle{
        margin-top: 3%;
    }
    .ProductCardsTitle>p{
        font-size: 13px;
    }
    .ProductCardsRating>p{
        font-size: 10px;
    }
    .ProductCardsCurrentPrice>:nth-child(1){
        font-size: 14px;
    }
    .ProductCardsCurrentPrice>:nth-child(2){
        font-size: 12px;
    }
    .ProductCardsCurrentPrice>:nth-child(2)>span{
        font-size: 12px;
    }
}