.ProductsPage{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}
.ProductsPagesSidebar{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 5% 0;
}
.SidebarBrands{
    width: 80%;
    display: flex;
    flex-direction: column;
    background: #F6F7F8;
    padding: 5%;
}
.SidebarBrands>p{
    font-size: 20px;
    line-height: 27px;
    color: #22262A;
    margin-bottom: 5%;
    font-weight: 600;
}
.SidebarBrandsName{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3% 0;
    cursor: pointer;
}
.SidebarBrandsName>p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #262626;
}
.SidebarBrandsName.Active>p{
    color: #33A0FF;
}
.ProductsSide{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.AdvertisementSectionLeft{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}
.ProductsFilter{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #F6F7F8;
    margin: 2% 0;
    padding: 2% 3%; 
}
.ProductsList{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.ProductsList.Rectangular{
    height: 1300px;
    align-items: flex-start;
    justify-content: flex-start;
}
.ProductsList.Line{
    height: 1600px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.ProductCard{
    width: 32%;
    margin: 5px 2px;
}
.ProductCardHorizontal{
    width: 100%;
    margin: 2% 0.5%;
}
.PriceFilter{
    width: 80%;
    display: flex;
    flex-direction: column;
    background: #F6F7F8;
    margin: 5% 0;
    padding: 5%;
}
.PriceFilter>div{
    width: 100%;
}
.PriceFilter>:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 0;
}
.PriceFilter>p{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
}
.PriceFilter>div>input{
    width: 100%;
}
.ProductsFilterLeft{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.ProductsFilterLeft>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #22262A;
}
.ProductsFilterLeft>:nth-child(1){
    margin-right: 5%;
}
.ProductsFilterLeft>:nth-child(2){
    margin-right: 2%;
}
.ProductsFilterLeft>select{
    width: 200px;
    height: 36px;
    margin-right: 10%;
    border: 2px solid #F1F3F4;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #22262A;
    padding: 0.5% 0 0 3%;
    background-color: #F6F7F8;
}
.ProductsFilterLeft>select:active{
    outline: 2px solid #c9caca;
}
.ProductsFilterRight{
    width: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.ProductsFilterRight>figure{
    width: 40%;
    cursor: pointer;
}
.ProductsFilterRight>figure>img{
    width: 100%;
}
.ProductsPageNumbers{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #FAFAFB;
    margin-bottom: 5%;
}
.PaginationPage{
    width: 62.92px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.PaginationPage.Active{
    background-color: #40BFFF;
}
.ProductsListEmpty{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.ProductsListEmpty>p{
    font-size: 30px;
    line-height: 82px;
    color: #22262A;
    margin-top: 2%;
}